<div mat-dialog-title>
  Dashboard editor
</div>

<mat-horizontal-stepper #stepper style="font-size: 14px">
  <mat-step [stepControl]="firstFormGroup" errorMessage="Step not completed.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Dashboard name</ng-template>
      <br/>
      <div class="summary-column">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
            <mat-label>Dashboard type</mat-label>
            <input matInput placeholder="Type" [(ngModel)]="type" formControlName="control1" (ngModelChange)="formChanged()" required>
          </mat-form-field>
        </div>
        <br/>
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
            <mat-label>Dashboard name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="name" formControlName="control2" (ngModelChange)="formChanged()" required>
          </mat-form-field>
        </div>
        <br/>
        <span style="margin-left: 30px">*Required</span>
      </div>

      <div class="summary-column">
        <div style="margin-top: 5px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Type of dashboard for grouping in the library.</p>
        </div>

        <div style="margin-top: 30px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Name of dashboard.</p>
        </div>
      </div>

      <div style="margin-top: 260px" mat-dialog-actions align="end">
        <button style="margin-right: 15px" mat-flat-button color="accent" (click)="onCancelClick()">Cancel</button>
        <button style="margin-right: 15px" mat-button (click)="stepper.next()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Step not completed.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dashboard data</ng-template>
      <br/>
      <div class="summary-column">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px; width: 300px">
            <mat-label>Query/Dataset</mat-label>
            <mat-select [(ngModel)]="selectedQuery" formControlName="control3" (ngModelChange)="formChanged()" required>
              <mat-option *ngFor="let result of queryList" [value]="result" (click)="querySelected()">{{result}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br/>
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px">
            <mat-label>Output fields</mat-label>
            <mat-select multiple [(ngModel)]="selectedOutputField" formControlName="control4" (ngModelChange)="formChanged()">
              <mat-option *ngFor="let field of outputFields" [value]="field.outputField">
                {{field.outputField}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br/>
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px">
            <mat-label>Output type</mat-label>
            <mat-select [(ngModel)]="selectedOutputType" formControlName="control5" (ngModelChange)="formChanged()" required>
              <mat-option *ngFor="let outputType of outputTypes" [value]="outputType.outputType">
                {{outputType.outputType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br/>
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px">
            <mat-label>Refresh schedule</mat-label>
            <mat-select [(ngModel)]="selectedSchedule" formControlName="control6" (ngModelChange)="formChanged()" required>
              <mat-option *ngFor="let schedule of schedules" [value]="schedule.scheduleValue">
                {{schedule.scheduleValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br/><br/>
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-radio-group formControlName="control7" [(ngModel)]="visualType">
            <mat-radio-button matTooltip="Bar chart" style="margin-left: 25px" value="Bar chart">
              <i class="far fa-chart-bar fa-2x"></i>
            </mat-radio-button>
            <mat-radio-button matTooltip="Line chart" style="margin-left: 50px" value="Line chart">
              <i class="far fa-chart-line fa-2x"></i>
            </mat-radio-button>
            <mat-radio-button matTooltip="Table" style="margin-left: 50px" value="Table">
              <i class="fal fa-table fa-2x"></i>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <br/><br/>
        <span style="margin-left: 30px">*Required</span>
      </div>

      <div class="summary-column">
        <div style="margin-top: 8px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Select the query/dataset to be used as the dashboard data source.</p>
        </div>
        <div style="margin-top: 20px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Output fields. Fields for comparing/aggregating/grouping in dashboards or fields to be output as rows in tables.</p>
        </div>
        <div style="margin-top: 26px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Output type for visualisations or exporting to files.</p>
        </div>
        <div style="margin-top: 30px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>How often should this data set be refreshed.</p>
        </div>
        <div style="margin-top: 30px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Select the type of visualisation.</p>
        </div>
      </div>

      <div style="margin-top: 260px" mat-dialog-actions align="end">
        <button style="margin-right: 15px" mat-flat-button color="accent" (click)="onCancelClick()">Cancel</button>
        <button style="margin-right: 15px" mat-button (click)="stepper.next()">Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" errorMessage="Step not completed.">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Dashboard layout</ng-template>
      <br/>

      <div class="summary-column" style="width: 200px">
        <h2>Available widgets</h2>
        <mat-grid-list cols = "2" rowHeight="1:1" cdkDropList
                       #widgetList="cdkDropList"
                       [cdkDropListData]="widgets"
                       [cdkDropListConnectedTo]="[selectedWidgetList]"
                       class="widget-grid-list"
                       (cdkDropListDropped)="drop($event)"
                       gutterSize="5px">

          <mat-grid-tile colspan="1" rowspan="1" class="widget-grid-tile" cdkDrag *ngFor="let item of widgets">
            {{item}}

            <span *cdkDragPreview>
              <mat-grid-tile colspan="1" rowspan="1" class="widget-grid-tile">
                  {{item}}
              </mat-grid-tile>
            </span>

          </mat-grid-tile>



        </mat-grid-list>
      </div>

      <div class="summary-column" style="width: 600px">
        <h2>Dashboard layout</h2>
        <b>{{name}}</b>
        <mat-grid-list cols = "3" rowHeight="1:1" cdkDropList
                       #selectedWidgetList="cdkDropList"
                       [cdkDropListData]="selectedWidgets"
                       [cdkDropListConnectedTo]="[widgetList]"
                       class="dashboard-grid-list"
                       (cdkDropListDropped)="drop($event)">
          <mat-grid-tile class="dashboard-grid-tile" cdkDrag *ngFor="let item of selectedWidgets">
            {{item}}
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div style="margin-top: 40px" mat-dialog-actions align="end">
        <button style="margin-right: 15px" mat-flat-button color="accent" (click)="onCancelClick()">Cancel</button>
        <button style="margin-right: 15px" mat-button color="accent" matStepperPrevious>Back</button>
        <button style="margin-right: 15px" mat-button [disabled]="disableForm" (click)="saveDashboard()">Save</button>
      </div>

    </form>
  </mat-step>

</mat-horizontal-stepper>
