<div mat-dialog-title>
  Dashboard editor
</div>

<mat-horizontal-stepper #stepper style="font-size: 14px">
  <mat-step [stepControl]="firstFormGroup" errorMessage="Step not completed.">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Dashboard name</ng-template>
      <br/>
      <div class="summary-column">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px; width: 600px">
            <mat-label>Dashboard folder</mat-label>
            <input matInput placeholder="Folder" [(ngModel)]="type" formControlName="control1" (ngModelChange)="formChanged()" required>
          </mat-form-field>
        </div>
        <br/>
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <mat-form-field appearance="outline" style="margin-left: 25px; width: 600px">
            <mat-label>Dashboard name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="name" formControlName="control2" (ngModelChange)="formChanged()" required>
          </mat-form-field>
        </div>
        <br/>
        <span style="margin-left: 30px">*Required</span>
      </div>

      <div class="summary-column">
        <div style="margin-top: 10px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Folder for grouping dashboard in the library.</p>
        </div>

        <div style="margin-top: 27px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
          <p>Name of dashboard.</p>
        </div>
      </div>

      <div style="margin-top: 300px" mat-dialog-actions align="end">
        <button style="margin-right: 15px" mat-button color="accent" (click)="onCancelClick()">Cancel</button>
        <button style="margin-right: 15px" mat-flat-button color="accent" (click)="stepper.next()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Step not completed.">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Dashboard data</ng-template>
      <br/>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Visualisation 1 - {{selectedVisualisation1}}">
          <br/>
          <div class="summary-column">
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 600px">
                <mat-label>Visualisation title</mat-label>
                <input matInput placeholder="Visualisation title" [(ngModel)]="selectedVisualisation1" formControlName="control3a" (ngModelChange)="formChanged()" required>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 300px">
                <mat-label>Query/Dataset/Series</mat-label>
                <mat-select multiple [(ngModel)]="selectedSeries1" formControlName="control7a" (ngModelChange)="formChanged()" required>
                  <mat-option *ngFor="let series of seriesList" [value]="series" (click)="querySelected1()">{{series}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px">
                <mat-label>Table fields</mat-label>
                <mat-select multiple [(ngModel)]="selectedOutputField1" formControlName="control4a" (ngModelChange)="formChanged()">
                  <mat-option *ngFor="let field of outputFields" [value]="field.outputField">
                    {{field.outputField}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>X Axis label</mat-label>
                <input matInput placeholder="X Axis label" [(ngModel)]="xAxisLabel1" formControlName="control8a" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>Y Axis label</mat-label>
                <input matInput placeholder="Y Axis label" [(ngModel)]="yAxisLabel1" formControlName="control9a" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/><br/>
            <span style="margin-left: 30px">*Required</span>
          </div>
          <div class="summary-column">
            <div style="margin-top: 7px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The visualisation title.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Select the query dataset or series points for the tables and charts.</p>
            </div>
            <br/>
            <div style="margin-top: 8px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Fields to be output as rows in tables.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart X-Axis.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart Y-Axis.</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Visualisation 2 - {{selectedVisualisation2}}">
          <br/>
          <div class="summary-column">
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 600px">
                <mat-label>Visualisation title</mat-label>
                <input matInput placeholder="Visualisation title" [(ngModel)]="selectedVisualisation2" formControlName="control3b" (ngModelChange)="formChanged()" >
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 300px">
                <mat-label>Query/Dataset/Series</mat-label>
                <mat-select multiple [(ngModel)]="selectedSeries2" formControlName="control7b" (ngModelChange)="formChanged()" >
                  <mat-option *ngFor="let series of seriesList" [value]="series"  (click)="querySelected2()">{{series}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px">
                <mat-label>Table fields</mat-label>
                <mat-select multiple [(ngModel)]="selectedOutputField2" formControlName="control4b" (ngModelChange)="formChanged()">
                  <mat-option *ngFor="let field of outputFields" [value]="field.outputField">
                    {{field.outputField}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>X Axis label</mat-label>
                <input matInput placeholder="X Axis label" [(ngModel)]="xAxisLabel2" formControlName="control8b" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>Y Axis label</mat-label>
                <input matInput placeholder="Y Axis label" [(ngModel)]="yAxisLabel2" formControlName="control9b" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/><br/>
            <span style="margin-left: 30px">*Required</span>
          </div>
          <div class="summary-column">
            <div style="margin-top: 7px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The visualisation title.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Select the query dataset or series points for the tables and charts.</p>
            </div>
            <br/>
            <div style="margin-top: 8px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Fields to be output as rows in tables.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart X-Axis.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart Y-Axis.</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Visualisation 3 - {{selectedVisualisation3}}">
          <br/>
          <div class="summary-column">
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 600px">
                <mat-label>Visualisation title</mat-label>
                <input matInput placeholder="Visualisation title" [(ngModel)]="selectedVisualisation3" formControlName="control3c" (ngModelChange)="formChanged()" >
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 300px">
                <mat-label>Query/Dataset/Series</mat-label>
                <mat-select multiple [(ngModel)]="selectedSeries3" formControlName="control7c" (ngModelChange)="formChanged()" >
                  <mat-option *ngFor="let series of seriesList" [value]="series"  (click)="querySelected3()">{{series}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px">
                <mat-label>Table fields</mat-label>
                <mat-select multiple [(ngModel)]="selectedOutputField3" formControlName="control4c" (ngModelChange)="formChanged()">
                  <mat-option *ngFor="let field of outputFields" [value]="field.outputField">
                    {{field.outputField}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>X Axis label</mat-label>
                <input matInput placeholder="X Axis label" [(ngModel)]="xAxisLabel3" formControlName="control8c" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>Y Axis label</mat-label>
                <input matInput placeholder="Y Axis label" [(ngModel)]="yAxisLabel3" formControlName="control9c" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/><br/>
            <span style="margin-left: 30px">*Required</span>
          </div>
          <div class="summary-column">
            <div style="margin-top: 7px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The visualisation title.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Select the query dataset or series points for the tables and charts.</p>
            </div>
            <br/>
            <div style="margin-top: 8px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Fields to be output as rows in tables.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart X-Axis.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart Y-Axis.</p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Visualisation 4 - {{selectedVisualisation4}}">
          <br/>
          <div class="summary-column">
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 600px">
                <mat-label>Visualisation title</mat-label>
                <input matInput placeholder="Visualisation title" [(ngModel)]="selectedVisualisation4" formControlName="control3d" (ngModelChange)="formChanged()" >
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 300px">
                <mat-label>Query/Dataset/Series</mat-label>
                <mat-select multiple [(ngModel)]="selectedSeries4" formControlName="control7d" (ngModelChange)="formChanged()" >
                  <mat-option *ngFor="let series of seriesList" [value]="series"  (click)="querySelected4()">{{series}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px">
                <mat-label>Table fields</mat-label>
                <mat-select multiple [(ngModel)]="selectedOutputField4" formControlName="control4d" (ngModelChange)="formChanged()">
                  <mat-option *ngFor="let field of outputFields" [value]="field.outputField">
                    {{field.outputField}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>X Axis label</mat-label>
                <input matInput placeholder="X Axis label" [(ngModel)]="xAxisLabel4" formControlName="control8d" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <mat-form-field appearance="outline" style="margin-left: 25px; width: 400px">
                <mat-label>Y Axis label</mat-label>
                <input matInput placeholder="Y Axis label" [(ngModel)]="yAxisLabel4" formControlName="control9d" (ngModelChange)="formChanged()">
              </mat-form-field>
            </div>
            <br/><br/>
            <span style="margin-left: 30px">*Required</span>
          </div>
          <div class="summary-column">
            <div style="margin-top: 7px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The visualisation title.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Select the query dataset or series points for the tables and charts.</p>
            </div>
            <br/>
            <div style="margin-top: 8px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>Fields to be output as rows in tables.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart X-Axis.</p>
            </div>
            <br/>
            <div style="margin-top: 15px" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
              <p>The title of the chart Y-Axis.</p>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

      <div mat-dialog-actions align="end">
        <button style="margin-right: 15px" mat-button color="accent" (click)="onCancelClick()">Cancel</button>
        <button style="margin-right: 15px" mat-button color="accent" matStepperPrevious>Back</button>
        <button style="margin-right: 15px" mat-flat-button color="accent" (click)="stepper.next()">Next</button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" errorMessage="Step not completed.">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Dashboard layout</ng-template>
      <br/>

      <div class="summary-column" style="width: 300px">
        <h2>Available widgets</h2>
        Drag & drop widgets on dashboard

        <br/><br/>

        <div
          cdkDropList
          #widgetList="cdkDropList"
          [cdkDropListData]="widgets"
          [cdkDropListConnectedTo]="[selectedWidgetList]"
          class="widget-grid-list"
          (cdkDropListDropped)="drop($event)">
          <div class="widget-grid-tile" *ngFor="let item of widgets" cdkDrag>
            <i class="{{item.icon}} fa-3x"></i><br/>{{item.name}}
          </div>
        </div>
      </div>

      <div class="summary-column" style="width: 750px">
        <h2>Dashboard layout</h2>
        &nbsp;<i class="fad fa-analytics"></i>&nbsp;&nbsp;{{name}}
        <br/><br/>
        <div class="dashboard-grid">
          <mat-grid-list cols = "2" rowHeight="145px" gutterSize="10" cdkDropList
                         #selectedWidgetList="cdkDropList"
                         [cdkDropListData]="selectedWidgets"
                         [cdkDropListConnectedTo]="[widgetList]"
                         class="dashboard-grid-list"
                         (cdkDropListDropped)="drop($event)">
            <mat-grid-tile class="dashboard-grid-tile" cdkDrag *ngFor="let item of selectedWidgets; index as i">
              <table>
                <tr>
                  <td>
                    <div class="query-name"><i class="{{item.icon}} fa-5x"></i></div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="query-name"><br/>{{getSelectedVisualisation(i)}}</div>
                  </td>
                </tr>
              </table>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>

      <div style="margin-top: 55px" mat-dialog-actions align="end">
        <button style="margin-right: 15px" mat-button color="accent" (click)="onCancelClick()">Cancel</button>
        <button style="margin-right: 15px" mat-button color="accent" matStepperPrevious>Back</button>
        <button style="margin-right: 15px" mat-flat-button color="accent" [disabled]="disableForm" (click)="saveDashboard()">Save</button>
      </div>

    </form>
  </mat-step>
</mat-horizontal-stepper>
