<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-hospital"></i>
    </div>
    <mat-card-title>Organisation list sizes</mat-card-title>
    <mat-card-subtitle>A list of organisations and their list sizes</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="tableData && tableData.rows">
      <app-generic-table-ssp
        [items]="tableData.rows"
        [totalItems]="totalItems"
        [detailsToShow]="tableData.headers"
        [pageSize]="pageSize"
        (clicked)="itemClicked($event)"
        (onPageChange)="pageChange($event)"
        (onOrderChange)="orderChange($event)"
        (search)="searchClicked($event)">
      </app-generic-table-ssp>
    </div>
  </mat-card-content>
</mat-card>
