.deceased
{
  color: red;
}

tr.expanded-detail-row {
  height: 0;
}

tr.expanded-element-row:not(.expanded-expanded-row):hover {
  background: lightgray;
}

tr.expanded-element-row:not(.expanded-expanded-row):active {
  background: #efefef;
}

::ng-deep .mat-sort-header-arrow {
  color: white;
}

mat-paginator {
  width: 99%;
}
