<mat-card>
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-notes-medical"></i>
    </div>
    <mat-card-title>Patient registries</mat-card-title>
    <mat-card-subtitle>Patient registries of diseases, conditions, risk factors, exposures, diagnosis or procedures.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div style="font-size:16px; padding: 10px; padding-bottom: 20px">
      <b>Indicators for {{this.registry}} registry</b>
      <button mat-flat-button color="accent" style="margin-left: 20px" (click)="back()">Back to registries</button>
      <br/>
    </div>

    <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-compact" fxFlex="100" fxFill>

        <ng-container matColumnDef="ccg">
          <th mat-header-cell *matHeaderCellDef>CCG</th>
          <td mat-cell *matCellDef="let element"> {{element.ccg}} </td>
        </ng-container>
        <ng-container matColumnDef="practice">
          <th mat-header-cell *matHeaderCellDef>Practice name</th>
          <td mat-cell *matCellDef="let element"> {{element.practice}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>ODS code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="parentRegistry">
          <th mat-header-cell *matHeaderCellDef>Registry</th>
          <td mat-cell *matCellDef="let element"> {{element.parentRegistry}} </td>
        </ng-container>
        <ng-container matColumnDef="listSize">
          <th mat-header-cell *matHeaderCellDef>Registry patient count</th>
          <td mat-cell *matCellDef="let element"> {{element.listSize.toLocaleString()}} </td>
        </ng-container>
        <ng-container matColumnDef="registry">
          <th mat-header-cell *matHeaderCellDef>Indicator</th>
          <td mat-cell *matCellDef="let element"> {{element.registry}} </td>
        </ng-container>
        <ng-container matColumnDef="registrySize">
          <th mat-header-cell *matHeaderCellDef>Indicator patient count</th>
          <td mat-cell *matCellDef="let element"> {{element.registrySize.toLocaleString()}} </td>
        </ng-container>
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef>% achieved</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{ 'poor': toPercent(element.registrySize,element.listSize)<'80', 'ok': toPercent(element.registrySize,element.listSize)>'79'&&toPercent(element.registrySize,element.listSize)<'90', 'good': toPercent(element.registrySize,element.listSize)>'89'}"> {{toPercent(element.registrySize,element.listSize)}}% </td>
        </ng-container>
        <ng-container matColumnDef="updated">
          <th mat-header-cell *matHeaderCellDef>Last updated</th>
          <td mat-cell *matCellDef="let element"> {{element.updated}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr style="cursor:pointer" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showPatientDialog()"></tr>
      </table>
    <div>
    </div>
      <mat-paginator [length]="events?.length"
                     [pageSize]="size"
                     [pageIndex]="page"
                     [showFirstLastButtons]="true"
                     (page)="onPage($event)"
                     fxFlex="100"
                     fxFill>
      </mat-paginator>
    </div>

  </mat-card-content>

</mat-card>

