  <div mat-dialog-title>
    Registry editor
  </div>

  <div style="font-size: 14px">
      <mat-form-field appearance="outline" style="width: 500px">
        <mat-label>Registry query</mat-label>
        <mat-select [(ngModel)]="query" (ngModelChange)="formChanged()" required>
          <mat-select-search [formControl]="filterCtrl"></mat-select-search>
          <mat-option *ngFor="let result of filteredValueset | async" [value]="result" (click)="querySelected()" matTooltipClass="tooltip" matTooltipPosition="right" matTooltip="{{result}}">
            {{result}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      Organisations in query: {{providerOrganisation}}
      <br/>
      <br/>
      <mat-form-field appearance="outline" style="width: 500px">
        <mat-label>Registry name</mat-label>
        <input required matInput placeholder="Name" [(ngModel)]="name" (ngModelChange)="formChanged()" (keyup)="registryEntered($event)">
      </mat-form-field>
      <br/>
      <span style="margin-left: 5px; color: gray">*Required</span>
  </div>

  <div mat-dialog-actions align="end">
    <button style="margin-right: 15px" mat-button color="accent" (click)="onCancelClick()">Cancel</button>
    <button style="margin-right: 15px" mat-flat-button color="accent" [disabled]="disableForm" (click)="saveRegistry()">Save</button>
  </div>

