table {
  width: 100%;
}

tr.expanded-detail-row {
  height: 0;
}

tr.expanded-element-row:not(.expanded-expanded-row):hover {
  background: lightgray;
}

tr.expanded-element-row:not(.expanded-expanded-row):active {
  background: #efefef;
}

.expanded-element-row td {
  border-bottom-width: 0;
}

.expanded-element-detail {
  overflow: hidden;
  display: flex;
}

.expanded-element-description {
  padding: 16px;
}

.expanded-element-description-attribution {
  opacity: 0.5;
}

.expanded-table {
  border-collapse: separate;
  border-spacing: 100px 5px;
}
