<mat-card>
  <mat-card-header>
    <mat-card-title>Graphical comparison</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div style="font-size: 14px">
      <mat-form-field *ngIf="selectedCCG==''" style="margin-left: 20px; width:32%" class="example-full-width" appearance="outline">
        <mat-label>Select practice</mat-label>
        <mat-select [formControl]="practices" multiple [(value)]="selectedPractices">
          <mat-option (click)="refresh()" *ngFor="let result of practiceList" [value]="result">{{result}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="selectedPractices==''" style="margin-left: 10px; width:32%" class="example-full-width" appearance="outline">
        <mat-label>Filter CCG/TRUST</mat-label>
        <mat-select [formControl]="ccgValues" multiple [(value)]="selectedCCG">
          <mat-option (click)="refresh()" *ngFor="let result of ccgList" [value]="result">{{result}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; width:32%" class="example-full-width" appearance="outline">
        <mat-label>Select registry</mat-label>
        <mat-select [formControl]="registries" multiple [(value)]="selectedRegistries">
          <mat-select-search [formControl]="filterCtrl"></mat-select-search>
          <mat-option (click)="refresh()" *ngFor="let result of registryList" [value]="result" matTooltipClass="tooltip" matTooltipPosition="right" matTooltip="{{result}}">
            {{result}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br/>
    <table style="table-layout: fixed; min-width: 100%">
      <tr>
        <td style="vertical-align: top">
          <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
            <ngx-charts-bar-vertical-2d
              [view]="view"
              [scheme]="colorScheme"
              [legend]="legend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [animations]="animations"
              [showGridLines]="showGridLines"
              [xAxis]="xAxis"
              [yAxis]="yAxis"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [results]="chartResults"
              [legendPosition]="legendPosition"
              [gradient]="gradient"
              (select)="onSelect($event)"
            >
              <ng-template #tooltipTemplate let-model="model">
                <span class="tooltip-label">{{model.name}} • Patients: {{formatTooltipYAxis(model.value)}}</span>
              </ng-template>
            </ngx-charts-bar-vertical-2d>
          </div>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
