<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-analytics"></i>
    </div>
    <mat-card-title>Population Health Information for Integrated Care</mat-card-title>
    <mat-card-subtitle>{{chartTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="filter">
      <mat-form-field *ngIf="showLineCharts" class="example-full-width" appearance="outline">
        <mat-label>Date from</mat-label>
        <input matInput [matDatepicker]="picker1" placeholder="Date from" [(ngModel)]="dateFrom" (dateChange)="refresh(false)">
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="showLineCharts" style="margin-left: 10px" class="example-full-width" appearance="outline">
        <mat-label>Date to</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Date to" [(ngModel)]="dateTo" (dateChange)="refresh(false)">
        <mat-datepicker-toggle matSuffix [for]="picker2">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="showSeriesFilter" style="width:300px; margin-left: 10px" class="example-full-width" appearance="outline">
        <mat-label>Filter series</mat-label>
        <mat-select style="width:280px" [formControl]="seriesValues" multiple [(value)]="selectedSeries">
          <mat-option (click)="refresh(false)" *ngFor="let result of seriesList" [value]="result">{{result}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:300px; margin-left: 10px" class="example-full-width" appearance="outline">
        <mat-label>Filter CCG/TRUST</mat-label>
        <mat-select style="width:280px" [formControl]="ccgValues" multiple [(value)]="selectedCCGs">
          <mat-checkbox class="mat-option" [(ngModel)]="selectAll" (change)="toggleSelection($event)">Select All</mat-checkbox>
          <mat-option (click)="refresh(true)" *ngFor="let result of ccgList" [value]="result">{{result}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" style="margin-left: 20px; position: absolute; margin-top: 12px" (click)="download()">Download CSV</button>
      <br/>
      <mat-checkbox class="checkbox" [(ngModel)]="showGridLines">Show gridlines</mat-checkbox>
      <mat-checkbox *ngIf="showLineCharts" class="checkbox" [(ngModel)]="showAreaChart">Show area chart</mat-checkbox>
      <mat-checkbox class="checkbox" [(ngModel)]="gradient">Gradient fill</mat-checkbox>
      <mat-checkbox *ngIf="showLineCharts" class="checkbox" (change)="refresh(false)" [(ngModel)]="logarithmic">Logarithmic</mat-checkbox>
      <mat-checkbox *ngIf="showLineCharts" class="checkbox" (change)="refresh(false)" [(ngModel)]="cumulative">Cumulative</mat-checkbox>
      <mat-checkbox *ngIf="showLineCharts" class="checkbox" (change)="refresh(false)" [(ngModel)]="weekly">Weekly</mat-checkbox>
    </div>

    <div *ngIf="showLineCharts">
      <div *ngIf="!showAreaChart" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="chartResults"
          [legendPosition]="legendPosition"
          [gradient]="gradient"
          [xAxisTickFormatting]="formatXAxis"
          [yAxisTickFormatting]="formatYAxis"
          [showRefLines]="showRefLines"
          [referenceLines]="refLines"
          (select)="onSelectLine($event)"
        >
          <ng-template #tooltipTemplate let-model="model">
            <span class="tooltip-label">{{formatXAxis(model.name)}} •  {{model.series}} • Patients: {{formatTooltipYAxis(model.value)}}</span>
          </ng-template>
          <ng-template #seriesTooltipTemplate let-model="model">
            <span class="tooltip-label" *ngFor="let series of model">
            <span class="tooltip-label">{{formatXAxis(series.name)}} •  {{series.series}} • Patients: {{formatTooltipYAxis(series.value)}}</span>
            </span>
          </ng-template>
        </ngx-charts-line-chart>
      </div>

      <div *ngIf="showAreaChart" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
        <ngx-charts-area-chart
          [view]="view"
          [scheme]="colorScheme"
          [legend]="legend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [timeline]="timeline"
          [results]="chartResults"
          [legendPosition]="legendPosition"
          [gradient]="gradient"
          [xAxisTickFormatting]="formatXAxis"
          [yAxisTickFormatting]="formatYAxis"
          (select)="onSelectLine($event)"
        >
          <ng-template #tooltipTemplate let-model="model">
            <span class="tooltip-label">{{formatXAxis(model.name)}} •  {{model.series}} • Patients: {{formatTooltipYAxis(model.value)}}</span>
          </ng-template>
          <ng-template #seriesTooltipTemplate let-model="model">
            <span class="tooltip-label" *ngFor="let series of model">
            <span class="tooltip-label">{{formatXAxis(series.name)}} •  {{series.series}} • Patients: {{formatTooltipYAxis(series.value)}}</span>
            </span>
          </ng-template>
        </ngx-charts-area-chart>
      </div>

    </div>

    <div *ngIf="showBarCharts" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [animations]="animations"
        [showGridLines]="showGridLines"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="chartResultsSingle"
        [legendPosition]="legendPosition"
        [gradient]="gradient"
        (select)="onSelectBar($event)"
      >
        <ng-template #tooltipTemplate let-model="model">
          <span class="tooltip-label">{{model.name}} • Patients: {{model.value}}</span>
        </ng-template>
      </ngx-charts-bar-vertical>

    </div>

  </mat-card-content>
</mat-card>



