tr.expanded-detail-row {
  height: 0;
}

tr.expanded-element-row:not(.expanded-expanded-row):hover {
  background: lightgray;
}

tr.expanded-element-row:not(.expanded-expanded-row):active {
  background: #efefef;
}

mat-paginator {
  width: 100%;
}

.highlight
{
  font-weight: bold;
  background: white;
  color: midnightblue;
}

.blink_me {
  animation: blinker 1s linear infinite;
  text-align: center;
  padding-top: 100px;
  padding-left: 500px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
