<mat-card>
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-notes-medical"></i>
    </div>
    <mat-card-title>Patient registries</mat-card-title>
    <mat-card-subtitle>Patient registries of diseases, conditions, risk factors, exposures, diagnosis or procedures.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <div class="filter">

      <mat-form-field style="width:300px; margin-left: 10px" class="example-full-width" appearance="outline">
        <mat-label>Filter CCG</mat-label>
        <mat-select style="width:280px" [formControl]="ccgValues" multiple [(value)]="selectedCCG">
          <mat-checkbox class="mat-option" [(ngModel)]="selectAllCCG" (change)="toggleSelectionCCG($event)">Select All</mat-checkbox>
          <mat-option (click)="refreshCCG()" *ngFor="let result of ccgList" [value]="result">{{result}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width:300px; margin-left: 10px" class="example-full-width" appearance="outline">
        <mat-label>Filter registry</mat-label>
        <mat-select style="width:280px" [formControl]="registryValues" multiple [(value)]="selectedRegistry">
          <mat-checkbox class="mat-option" [(ngModel)]="selectAllRegistry" (change)="toggleSelectionRegistry($event)">Select All</mat-checkbox>
          <mat-option (click)="refresh(true)" *ngFor="let result of registryList" [value]="result">{{result}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin-left: 10px" appearance="outline">
        <mat-label>Search practice</mat-label>
        <input matInput placeholder="Practice" [(ngModel)]="practice" (keyup)="practiceEntered($event)">
        <mat-icon style="cursor: pointer" (click)="loadEvents()" matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-checkbox style="margin-left:10px" class="checkbox" [(ngModel)]="showGridView">Show Grid View</mat-checkbox>

    </div>

    <div class="table" *ngIf="!showGridView">
      <div class="table-row" *ngFor="let tile of tiles">
        <div class="table-cell">
          <div style="font-size: 18px; position: center">{{tile.practice}}</div>
          <br/>
          <div style="cursor: pointer;font-size: 18px; position: center" title="View Indicators" [routerLink]="['/registryindicators']" [queryParams] = "{role: 'explorer', registry: tile.registry, odscode: tile.code, registrySize: tile.registrySize, practiceTitle: tile.ccg+' - '+tile.practice+' ('+tile.code+')'}"><b>{{tile.registry}}</b></div>
          <br/>

          <div style="cursor: pointer;color: gray" (click)="showPatientDialog()">Practice population - <b style="color: #0074D9">{{(tile.listSize.toLocaleString())}}</b></div>
          <br/>
          <div style="cursor: pointer;color: gray" (click)="showPatientDialog()">Patients on registry - <b style="color: #0074D9">{{tile.registrySize.toLocaleString()}}</b></div>
          <br/>
          <div style="color: gray">{{tile.text}}</div>
          <mwl-gauge
            [max]="100"
            [label]="gaugeLabel"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [value]=tile.percentage
            [animated]="true"
            [valueDialClass]="valueDialClass(tile.percentage)"
            [valueClass]="valueClass(tile.percentage)"
            [animationDuration]="1">
          </mwl-gauge>
        </div>
      </div>
    </div>

    <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start" *ngIf="showGridView">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-compact" fxFlex="100" fxFill>

        <ng-container matColumnDef="ccg">
          <th mat-header-cell *matHeaderCellDef>CCG</th>
          <td mat-cell *matCellDef="let element"> {{element.ccg}} </td>
        </ng-container>
        <ng-container matColumnDef="practice">
          <th mat-header-cell *matHeaderCellDef>Practice name</th>
          <td mat-cell *matCellDef="let element"> {{element.practice}} </td>
        </ng-container>
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>ODS code</th>
          <td mat-cell *matCellDef="let element"> {{element.code}} </td>
        </ng-container>
        <ng-container matColumnDef="listSize">
          <th mat-header-cell *matHeaderCellDef>Registered patient count</th>
          <td mat-cell *matCellDef="let element"> {{element.listSize.toLocaleString()}} </td>
        </ng-container>
        <ng-container matColumnDef="registry">
          <th mat-header-cell *matHeaderCellDef>Registry</th>
          <td mat-cell *matCellDef="let element"> {{element.registry}} </td>
        </ng-container>
        <ng-container matColumnDef="registrySize">
          <th mat-header-cell *matHeaderCellDef>Registry patient count</th>
          <td mat-cell *matCellDef="let element"> {{element.registrySize.toLocaleString()}} </td>
        </ng-container>
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef>% of population</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{ 'good': toPercent(element.registrySize,element.listSize)<10, 'ok': toPercent(element.registrySize,element.listSize)>9&&toPercent(element.registrySize,element.listSize)<20, 'poor': toPercent(element.registrySize,element.listSize)>19}"> {{toPercent(element.registrySize,element.listSize)}}% </td>
        </ng-container>
        <ng-container matColumnDef="updated">
          <th mat-header-cell *matHeaderCellDef>Last updated</th>
          <td mat-cell *matCellDef="let element"> {{element.updated}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr style="cursor:pointer" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/registryindicators']" [queryParams] = "{role: 'explorer', registry: row.registry, odscode: row.code, registrySize: row.registrySize, practiceTitle: row.ccg+' - '+row.practice+' ('+row.code+')'}"></tr>
      </table>
    <div>
    </div>
      <mat-paginator [length]="events?.length"
                     [pageSize]="size"
                     [pageIndex]="page"
                     [showFirstLastButtons]="true"
                     (page)="onPage($event)"
                     fxFlex="100"
                     fxFill>
      </mat-paginator>
    </div>
  </mat-card-content>

</mat-card>

