<mat-card>
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-notes-medical"></i>
    </div>
    <mat-card-title>Patient registries</mat-card-title>
    <mat-card-subtitle>Patient registries of diseases, conditions, risk factors, exposures, diagnosis or procedures.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="width: max-content" class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-table-compact" fxFlex="100" fxFill>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
            <button mat-icon-button color="grey" (click)="add()" style="margin-left: 10px"><mat-icon>add</mat-icon></button>
            <button *ngIf="selection.selected.length == 1" mat-icon-button color="grey" (click)="edit()" style="margin-left: 3px"><mat-icon>edit</mat-icon></button>
            <button *ngIf="selection.selected.length == 1" mat-icon-button color="grey" (click)="duplicate()" style="margin-left: 6px"><mat-icon style="font-size: 20px">content_copy</mat-icon></button>
            <button *ngIf="selection.selected.length == 1" mat-icon-button color="warn" (click)="delete()" style="margin-left: 6px"><mat-icon>delete</mat-icon></button>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="ccg">
          <th mat-header-cell *matHeaderCellDef style="width: 250px">All registries per CCG</th>
          <td mat-cell *matCellDef="let element"> {{element.ccg}} </td>
        </ng-container>
        <ng-container matColumnDef="listSize">
          <th mat-header-cell *matHeaderCellDef style="width: 150px;text-align: right">List size</th>
          <td mat-cell *matCellDef="let element" style="width: 150px;text-align: right"> {{(element.listSize!=0) ? element.listSize.toLocaleString():''}} </td>
        </ng-container>
        <ng-container matColumnDef="allColumns">
          <th mat-header-cell *matHeaderCellDef style="padding-left:150px; text-align: left">Registries</th>
          <td mat-cell *matCellDef="let element">
            <table>
              <tr>
                <td style="width: 200px;text-align: right" *ngFor="let index of element.allColumns.split(',')">
                  {{index>0 ? (index*1).toLocaleString() : index}}
                </td>
              </tr>
            </table>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr style="cursor:pointer" mat-row *matRowDef="let row; columns: displayedColumns;" class="expanded-element-row" [routerLink]="['/registryindicators']" [queryParams] = "{role: 'explorer', registry: row.registry, odscode: row.code, registrySize: row.registrySize, practice: row.practice, ccg: row.ccg, practiceTitle: row.ccg+' - '+row.practice+' ('+row.code+')'}"></tr>
      </table>
    </div>

  </mat-card-content>

</mat-card>

