<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-notes-medical"></i>
    </div>
    <mat-card-title>Patient registries</mat-card-title>
    <mat-card-subtitle>Patient registries of diseases, conditions, risk factors, exposures, diagnosis or procedures.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="filter">
      <mat-form-field style="width:400px; margin-left: 10px" class="expanded-full-width" appearance="outline">
        <mat-label>Filter organisations (use spaces to separate multiple organisations)</mat-label>
        <input matInput [(ngModel)]="filter" (keyup)="applyFilter()" placeholder="Filter">
      </mat-form-field>
      <button style="margin-left: 10px" mat-flat-button color="primary" (click)="restart();">Show All CCGs and Registries</button>
      <button style="margin-left: 10px" mat-flat-button color="accent" (click)="graphicalComparison();">Graphical comparison</button>
      <button style="margin-left: 10px" mat-flat-button color="accent" (click)="registryLists();">Registry lists</button>
    </div>

    <div class="example-container mat-elevation-z8" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select" sticky>
          <th mat-header-cell *matHeaderCellDef style="min-width: 100px">
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="org" sticky>
          <th mat-header-cell *matHeaderCellDef style="min-width: 300px;max-width: 300px">Organisations</th>
          <td mat-cell *matCellDef="let element" (click)="getOrgs(element.org, '')" style="border-right: 1px solid #e0e0e0;">
            <i *ngIf="selection.selected.length > 0" class="fad fa-analytics" (click)="showTrend(element.org)" style="width:25px;cursor:pointer" matTooltip="click for trend chart"></i>
            {{element.org}}
          </td>
        </ng-container>
        <ng-container matColumnDef="listSize" sticky>
          <th mat-header-cell *matHeaderCellDef style="padding-left: 10px;min-width: 150px;max-width: 150px">List size</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 10px;min-width: 150px;max-width: 150px"> {{(element.listSize!=0) ? element.listSize.toLocaleString():''}} </td>
        </ng-container>
        <ng-container matColumnDef="registrySize" sticky>
          <th mat-header-cell *matHeaderCellDef style="padding-left: 10px;min-width: 150px;max-width: 150px">Registry size</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 10px;min-width: 150px;max-width: 150px"> {{(element.registrySize>0) ? (element.registrySize*1).toLocaleString():element.registrySize}} </td>
        </ng-container>
        <ng-container matColumnDef="allColumns">
          <th mat-header-cell *matHeaderCellDef >Registries</th>
          <td mat-cell *matCellDef="let element" >
            <table>
              <tr>
                <td style="width: 250px;text-align: left" *ngFor="let index of element.allColumns.split('~'); index as i" (click)="getOrgs('', index>0 ? (index*1).toLocaleString() : index)" matTooltipClass="tooltip" matTooltipPosition="right" [matTooltip]="getQuery(index>0 ? (index*1).toLocaleString() : index)" >
                  <table style="text-align: left" *ngIf="index.indexOf('.0000')<0">
                    <tr>
                      <td *ngIf="index>0&&toPercent(index,element.registrySize)>0">
                        <mwl-gauge
                          [max]="100"
                          [label]="gaugeLabel"
                          [dialStartAngle]="-90"
                          [dialEndAngle]="-90.001"
                          [value]=toPercent(index,element.registrySize)
                          [animated]="true"
                          [valueDialClass]="valueDialClass(toPercent(index,element.registrySize),element.allColumns.split('~')[i+1].split('.')[0]*1)"
                          [valueClass]="valueClass(toPercent(index,element.registrySize),element.allColumns.split('~')[i+1].split('.')[0]*1)"
                          [animationDuration]="1">
                        </mwl-gauge>

                      </td>
                      <td style="text-align: left">
                        <div>
                          <span [ngClass]="{
                        'neutral': toPercent(index,element.registrySize)<element.allColumns.split('~')[i+1].split('.')[0]*1,
                        'good': toPercent(index,element.registrySize)>=element.allColumns.split('~')[i+1].split('.')[0]*1}"
                        *ngIf="index>0&&toPercent(index,element.registrySize)>0">Criteria met: </span>
                          <span [ngClass]="{
                        'neutral': toPercent(index,element.registrySize)<element.allColumns.split('~')[i+1].split('.')[0]*1,
                        'good': toPercent(index,element.registrySize)>=element.allColumns.split('~')[i+1].split('.')[0]*1}">{{getSize(index, element.registrySize)}}</span>
                          <div [ngClass]="{
                        'poor': toPercent(index,element.registrySize)<element.allColumns.split('~')[i+1].split('.')[0]*1,
                        'neutral': toPercent(index,element.registrySize)>=element.allColumns.split('~')[i+1].split('.')[0]*1}"
                        *ngIf="index>0&&toPercent(index,element.registrySize)>0" style="cursor: pointer">Not met:
                          <span [ngClass]="{
                        'poor': toPercent(index,element.registrySize)<element.allColumns.split('~')[i+1].split('.')[0]*1,
                        'neutral': toPercent(index,element.registrySize)>=element.allColumns.split('~')[i+1].split('.')[0]*1}">{{(element.registrySize-index).toLocaleString()}}</span></div>

                        </div>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr style="cursor:pointer" mat-row *matRowDef="let row; columns: displayedColumns;" class="expanded-element-row"></tr>
      </table>
    </div>

  </mat-card-content>
</mat-card>

<table style="width: 600px">
  <tr *ngIf="wait">
    <td class="blink_me">
      Retrieving data.....
    </td>
  </tr>
</table>
