.checkbox {
  margin: 0 5px;
}

mat-grid-tile {
 background: white;
 border: solid 1px #ccc;
}

.filter-background
{
  background-color: transparent;
  font-size: 12px;
  position: absolute;
  vertical-align: top;
  margin-top: -260px;
  margin-left: 5px;
}

.download {
  margin-left: 5px;
  font-size: 12px;
  padding: 0px;
}
