.checkbox {
  margin: 0 10px;
}

mat-grid-tile {
 background: whitesmoke;
 border: solid 1px #ccc;
}

.bar-filter {
  font-size: 13px;
  margin-bottom: 350px;
  margin-right: 10%;
  position: absolute;
  .checkbox {
    margin-top: 20px;
  }
  .saveCSV {
    margin-top: 12px;
    height: 50%;
  }
}

.line-filter {
  font-size: 13px;
  margin-bottom: 325px;
  margin-right: 30px;
  position: absolute;
  .checkbox {
    margin-top: 10px;
  }
  .saveCSV {
    margin-top: 5px;
    height: 50%;
  }
}

.series-filter {
  font-size: 13px;
  margin-bottom: 325px;
  margin-right: 30px;
  position: absolute;
  .checkbox {
    margin-top: 10px;
  }
  .saveCSV {
    margin-top: 5px;
    height: 50%;
  }
}
