.checkbox {
  margin: 0 5px;
}

mat-grid-tile {
 background: white;
 border: solid 1px #ccc;
}

.filter-background
{
  background-color: transparent;
  font-size: 12px;
  vertical-align: top;
  margin-top: 10px;
}

.download {
  margin-left: 5px;
  font-size: 12px;
  padding: 0px;
}

.map-margin {
  margin-top: 0%; position: center;
}

.table-scroll-quarter {
  max-height: 30vh;
  max-width: 45vw;
  overflow: scroll;
}

.table-scroll-half {
  max-height: 70vh;
  max-width: 45vw;
  overflow: scroll;
}

.table-scroll-full {
  max-height: 70vh;
  max-width: 90vw;
  overflow: scroll;
}
