table {
  width:100%;
  border-collapse: collapse;
}

.table-header {
  font-weight: bold;
  background-color: lightslategrey;
  color: white;
}

td {
  border:0px solid lightgray;
  padding: 5px;
  vertical-align: center;
}

.criteria-container {
  height: 680px;
  overflow: auto;
}

table {
  p {
  color: gray;
    margin-bottom: 25px;
  }
}

.tree-background
{
  background-color:white;
  font-size: 12px;
  vertical-align: top;
  height: 670px;
  overflow: auto;
  width:600px;
}


.mat-tree {
  background-color: transparent;
  width:750px;
  border-radius: 0px;
  box-shadow: 0 0px 0px -0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
}

.mat-tree-node {
  font-size: 12px;
  min-height: 2em !important;
  height: 2em;
}


