<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-video-plus"></i>
    </div>
    <mat-card-title>Tutorials</mat-card-title>
    <mat-card-subtitle>A list of videos to help explain the use of this application</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="start">
      <mat-card style="width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Covid library</mat-card-title>
          <mat-card-subtitle>How to use the basic covid dashboard functions</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid1.png" (click)="showVideo(1)">
        </mat-card-content>
      </mat-card>
      <mat-card style="margin-left:50px; width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Dashboard library</mat-card-title>
          <mat-card-subtitle>How to use the basic dashboard functions</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid2.png" (click)="showVideo(2)">
        </mat-card-content>
      </mat-card>
      <mat-card style="margin-left:50px; width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Maps</mat-card-title>
          <mat-card-subtitle>Tutorial video on how to use the maps module</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid3.png" (click)="showVideo(3)">
        </mat-card-content>
      </mat-card>
    </div>
    <br/>
    <div style="margin-left: -50px" class="flex" fxLayout="row wrap" fxLayout.xs="column">
      <mat-card style="margin-left:50px; width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Query results</mat-card-title>
          <mat-card-subtitle>Tutorial video on how to use the query results module</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid4.png" (click)="showVideo(4)">
        </mat-card-content>
      </mat-card>

      <mat-card style="margin-left:50px; width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Query & data set library</mat-card-title>
          <mat-card-subtitle>Tutorial video on how to use the query & data set library module</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid5.png" (click)="showVideo(5)">
        </mat-card-content>
      </mat-card>

      <mat-card style="margin-left:50px; width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Query queue</mat-card-title>
          <mat-card-subtitle>Tutorial video on how to use the query queue module</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid6.png" (click)="showVideo(6)">
        </mat-card-content>
      </mat-card>
    </div>
    <br/>
    <div style="margin-left: -50px" class="flex" fxLayout="row wrap" fxLayout.xs="column">
      <mat-card style="margin-left:50px; width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Value set library</mat-card-title>
          <mat-card-subtitle>Tutorial video on how to use the value set library module</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid7.png" (click)="showVideo(7)">
        </mat-card-content>
      </mat-card>
      <mat-card style="margin-left:50px; width:400px">
        <mat-card-header>
          <div mat-card-avatar><i class="fad fa-video"></i></div>
          <mat-card-title>Population counts</mat-card-title>
          <mat-card-subtitle>Tutorial video on how to use the population counts module</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding:20px;" >
          <img style="cursor:pointer;width:390px" mat-card-image src="assets/vid8.png" (click)="showVideo(8)">
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>

