<mat-card>
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-chart-line"></i>
    </div>
    <mat-card-title>Registry dashboard</mat-card-title>
    <mat-card-subtitle>Registry indicators.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div style="background: whitesmoke; padding: 30px">
      <mat-grid-list cols="4" rowHeight="150px" [gutterSize]="'20px'">
        <mat-grid-tile
          *ngFor="let tile of tiles"
          [colspan]="tile.cols"
          [rowspan]="tile.rows"
          [style.background]="tile.color"
          [style.border]="tile.border"

        >
          {{tile.text}}
          <mwl-gauge
            [max]="100"
            [label]="gaugeLabel"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [value]=gaugeValue
            [animated]="true"
            [animationDuration]="1">
          </mwl-gauge>
        </mat-grid-tile>
      </mat-grid-list>
    </div>


  </mat-card-content>
</mat-card>

