<mat-card>
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-chart-line"></i>
    </div>
    <mat-card-title>Registry dashboard</mat-card-title>
    <mat-card-subtitle>Registry indicators dashboard</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

  <div style="font-size:16px; padding: 10px; padding-bottom: 20px">
    <b>{{practiceTitle}} - Indicators for {{this.registry}} registry</b>
    <button mat-flat-button color="accent" style="margin-left: 25px" [routerLink]="['/registryindicators']" [queryParams] = "{role: 'explorer', registry: registry, odscode: odscode,registrySize: registrySize, practiceTitle: practiceTitle}">Grid view</button>
    <button mat-button color="accent" style="margin-left: 25px" [routerLink]="['/registries']">Back to registries</button>
  </div>

    <div class="table">
      <div class="table-row">
        <div class="table-cell-full">
          <div style="font-size: 18px; position: center"><b>Patients with {{registry}}</b></div>
          <br/>
          <div>Patients qualifying on register</div>
          <br/><br/><br/><br/>
          <div style="font-size: 40px; color: #0074D9; text-align: center">
            {{registrySize.toLocaleString()}}
          </div>
        </div>
      </div>
      <div class="table-row" *ngFor="let tile of tiles">
        <div class="table-cell">
          <div style="font-size: 18px; position: center"><b>{{tile.header}}</b></div>
          <br/>
          <div>Patients met - <b style="color: #0074D9">{{tile.registrySize}}</b></div>
          <br/>
          <div>Patients not met - <b style="color: #0074D9">{{(tile.listSize - tile.registrySize)}}</b></div>
          <br/>
          <div>{{tile.text}}</div>
          <mwl-gauge
            [max]="100"
            [label]="gaugeLabel"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [value]=tile.percentage
            [animated]="true"
            [valueDialClass]="valueDialClass(tile.percentage)"
            [animationDuration]="1">
          </mwl-gauge>
        </div>
      </div>
    </div>


  </mat-card-content>
</mat-card>

