<mat-card>
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-chart-line"></i>
    </div>
    <mat-card-title>Registry dashboard</mat-card-title>
    <mat-card-subtitle>Registry indicators.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div style="height:400px;width:400px; background: whitesmoke; padding: 30px">
      <div *ngFor="let tile of tiles">
        <div *ngIf="showTile">
          <div style="font-size: 18px">{{tile.header}}</div>
          <br/>
          <div>{{tile.text}}</div>
          <mwl-gauge
            [max]="100"
            [label]="gaugeLabel"
            [dialStartAngle]="-90"
            [dialEndAngle]="-90.001"
            [value]=gaugeValue
            [animated]="true"
            [animationDuration]="1">
          </mwl-gauge>
        </div>

      </div>


    </div>


  </mat-card-content>
</mat-card>

