tr.expanded-detail-row {
  height: 0;
}

tr.expanded-element-row:not(.expanded-expanded-row):hover {
  background: lightgray;
}

tr.expanded-element-row:not(.expanded-expanded-row):active {
  background: #efefef;
}

mat-paginator {
  width: 100%;
}

.highlight
{
  font-weight: bold;
  background: white;
  color: midnightblue;
}

.poor{
  color: red;
  font-weight: bold;
}

.good{
  color: green;
  font-weight: bold;
}

.neutral {
  color: black;
  font-weight: normal;
}

.poorLink{
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

.goodLink{
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

.neutralLink {
  color: black;
  font-weight: normal;
  text-decoration: underline;
}

.ok{
  color: orange;
}

.normal{
  color: black;
}

.blink_me {
  animation: blinker 1s linear infinite;
  text-align: center;
  padding-top: 100px;
  padding-left: 500px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
