<mat-card id="card">
  <mat-card-content style="text-align: center;">
    <form #form="ngForm">
      <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5px grid" fxLayoutAlign="start">
        <mat-form-field appearance="outline" *ngIf= "queries" fxFlex="100" fxFill>
          <mat-label>Queries</mat-label>
          <mat-select (selectionChange)="changeQuery()" [(value)]="query">
            <mat-option *ngFor="let result of queries" [value]="result">{{result}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        &nbsp;
      </div>
      <div>
        <mat-label style="font-size:16px;" ><b>{{ display }} : (rate per 1,000 registered patients)</b></mat-label><br>
        <mat-slider *ngIf="isCovidQuery" [disabled]="form.invalid" (input)="onInputChange($event)" [(ngModel)]="sliderValue" min="0" max="{{max-1}}" step="1" (change)="updateDate($event)" [tickInterval]="1" name="sliderDate"></mat-slider>
      </div>
      <div *ngIf="!isCovidQuery">
        &nbsp;
      </div>
      <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
        <div fxFlex="15" fxFill>
          <div style="text-align: center">
            <b>Levels</b>
          </div>
          <div style="text-align: center">
            &nbsp;
          </div>
          <div class="flex" fxLayout="row nowrap" fxLayout.xs="column" fxLayoutGap="5px grid" fxLayoutAlign="start" *ngFor="let level of levels; let i = index">
            <button mat-button disabled="true" fxFlex="20">
              <mat-icon [ngStyle]="{'color': level.color}">label</mat-icon>
            </button>
            <mat-form-field appearance="outline" style="width:50vw" fxFlex="30">
              <mat-label>Lower</mat-label>
              <input type="number" step="0.1" matInput required placeholder="Lower" name="lower_limit_{{i}}" [(ngModel)]="level.lowerLimit">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:50vw" fxFlex="30" *ngIf="i!=4">
              <mat-label>Upper</mat-label>
              <input type="number" step="0.1" matInput required placeholder="Upper" name="upper_limit_{{i}}" [(ngModel)]="level.upperLimit">
            </mat-form-field>
          </div>
          <div style="text-align: center">
            &nbsp;
          </div>
          <div style="text-align: center">
            <button [disabled]="form.invalid" mat-flat-button color="accent" (click)="recompute()">Recompute</button>
          </div>
          <br/>
          <br/>
          <div style="text-align: center;">
            <b>Legend</b>
          </div>
          <br/>
          <div layout="row" style="text-align: left;" *ngFor="let item of levels;  let i = index">
            <button mat-button (click)="refreshLayer(mapResults.descriptions[i])" *ngIf="mapResults && i!=4" >
              <mat-icon [ngStyle]="{'color': mapResults.colors[i]}">label</mat-icon>
              {{mapResults.lowerLimits[i]}} - {{mapResults.upperLimits[i]}}
            </button>
          </div>
          <div layout="row" style="text-align: left;">
            <button mat-button (click)="refreshLayer(mapResults.descriptions[4])" *ngIf="mapResults" >
              <mat-icon [ngStyle]="{'color': mapResults.colors[4]}">label</mat-icon>
              {{mapResults.lowerLimits[4]}} and above
            </button>
          </div>
          <div layout="row" style="text-align: left;">
            <button mat-button (click)="refreshLayer('All levels')">
              <mat-icon [ngStyle]="{'color': 'blue'}">label</mat-icon>
              All levels
            </button>
          </div>
          <div layout="row" style="text-align: left;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-checkbox [checked]="this.isLevelTransparent" (change)="toggleTransparent('All levels', $event.checked)">Transparent levels</mat-checkbox>
          </div>
        </div>
        <div fxFlex="80" fxFill>
          <div id="map"></div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
