<mat-card id="card">
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-map-marked-alt"></i>
    </div>
    <mat-card-title>Map Dashboard</mat-card-title>
    <mat-card-subtitle>Suspected and confirmed COVID-19 per 1000 registered patients by LSOA</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="text-align: center;">
    <mat-label style="font-size:25px;" ><b>{{ display }}</b></mat-label><br>
    <mat-slider (input)="onInputChange($event)" min="1" max="{{max}}" step="1" (change)="updateDate($event)" [tickInterval]="1"></mat-slider>
    <div layout="row" flex>
      <div id="map"></div>
      <div layout="row">
        <button mat-button *ngFor="let item of levels" (click)="refreshLayer(item.content.value)">
          <mat-icon [ngStyle]="{'color': item.content.color}">label</mat-icon>
          {{item.content.label}}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
