<mat-card id="card">
  <mat-card-header class="header2">
    <div mat-card-avatar>
      <i class="fad fa-map-marked-alt"></i>
    </div>
    <mat-card-title>Map Dashboard</mat-card-title>
    <mat-card-subtitle>Suspected and confirmed COVID-19 per 1000 registered patients by LSOA</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="text-align: center;">
    <form #form="ngForm">
      <div>
        <mat-label style="font-size:25px;" ><b>{{ display }}</b></mat-label><br>
        <mat-slider [disabled]="form.invalid" (input)="onInputChange($event)" min="0" max="{{max-1}}" step="1" (change)="updateDate($event)" [tickInterval]="1"></mat-slider>
      </div>
      <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
        <div fxFlex="20" fxFill>
          <div style="text-align: center">
            <b>Levels</b>
          </div>
          <div style="text-align: center">
            &nbsp;
          </div>
          <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start" *ngFor="let level of levels; let i = index">
            <button mat-button disabled="true" fxFlex="20">
              <mat-icon [ngStyle]="{'color': level.color}">label</mat-icon>
            </button>
            <mat-form-field appearance="outline" style="width:50vw" fxFlex="40">
              <mat-label>Lower limit</mat-label>
              <input type="number" step="0.1" matInput required placeholder="Lower limit" name="lower_limit_{{i}}" [(ngModel)]="level.lowerLimit">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width:50vw" fxFlex="40">
              <mat-label>Upper limit</mat-label>
              <input type="number" step="0.1" matInput required placeholder="Upper limit" name="upper_limit_{{i}}" [(ngModel)]="level.upperLimit">
            </mat-form-field>
          </div>
          <div style="text-align: center">
            &nbsp;
          </div>
          <div style="text-align: right">
            <button [disabled]="form.invalid" mat-flat-button color="accent" (click)="recompute()">Recompute</button>
          </div>
        </div>
        <div fxFlex="60" fxFill>
          <div id="map"></div>
        </div>
        <div fxFlex="20" fxFill style="text-align: left">
          <div>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Legend</b>
          </div>
          <div>
            &nbsp;
          </div>
          <div layout="row" *ngFor="let item of levels;  let i = index">
            <button mat-button (click)="refreshLayer(mapResults.descriptions[i])">
              <mat-icon [ngStyle]="{'color': mapResults.colors[i]}">label</mat-icon>
              {{mapResults.lowerLimits[i]}} - {{mapResults.upperLimits[i]}}
            </button>
          </div>
          <div layout="row">
            <button mat-button (click)="refreshLayer('All levels')">
              <mat-icon [ngStyle]="{'color': 'blue'}">label</mat-icon>
              All levels
            </button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
