  <div mat-dialog-title>
    Add query
  </div>

  <mat-vertical-stepper [linear]=true #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Query name parameters</ng-template>
        <mat-form-field>
          <mat-label>Query type</mat-label>
          <input required matInput placeholder="Type" [(ngModel)]="type" formControlName="firstCtrl">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Query name</mat-label>
          <input required matInput placeholder="Name" [(ngModel)]="name" formControlName="firstCtrl">
        </mat-form-field>
        <div>
          <button mat-button (click)="stepper.next()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Define data type</ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Data source</mat-label>
            <mat-select [(ngModel)]="selectedSource" formControlName="secondCtrl">
              <mat-option *ngFor="let source of sources" [value]="source.value">
                {{source.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div>
          <mat-checkbox class="checkbox" [(ngModel)]="active" formControlName="secondCtrl">Active items only</mat-checkbox>
        </div>
        <br/>
        <div>
          <button mat-button color="accent" matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.next()">Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Define query</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>Value set</mat-label>
          <mat-select [(ngModel)]="selectedValue" formControlName="thirdCtrl">
            <mat-option *ngFor="let value of values" [value]="value.valueSet">
              {{value.valueSet}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Date from</mat-label>
          <input matInput [matDatepicker]="picker1" placeholder="Date from" [(ngModel)]="dateFrom" formControlName="thirdCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_up</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br/>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Date to</mat-label>
          <input matInput [matDatepicker]="picker2" placeholder="Date to" [(ngModel)]="dateTo" formControlName="thirdCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker2">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_up</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field >
        <br/>
        <div>
          <button mat-button color="accent" matStepperPrevious>Back</button>
          <button mat-flat-button color="accent" (click)="saveQuery()">Save</button>
        </div>
      </form>
    </mat-step>

  </mat-vertical-stepper>
